<div class="mycontainer" id="main-container-section"> <!-- container centers content on large screens -->
  <div class="row">             <!-- responsive row has 12 columns by default -->
    <div class="col-md-3" id="side-nav-bar">      <!-- uses 6 columns on medium and larger screens... -->
      <div class="mycontainer">
        <nav class="navbar navbar-light navbar-expand-sm px-0 flex-row flex-nowrap">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarWEX" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
              <div class="navbar-collapse collapse" id="navbarWEX">
                <div class="nav flex-sm-column flex-row">
                    <a class="nav-item nav-link active" routerLink="/">Home</a>
                    <a routerLink="/language-list" class="nav-item nav-link">Language List</a>
                    <a routerLink="/currency-list" class="nav-item nav-link">Currency List</a>
                </div>
            </div>
        </nav>
      </div>
    </div>
    <div class="col-md-9">      <!-- uses 12 columns on smaller than medium screens -->
      <div class="row" id="top-select-country">
        <div class="mycontainer">
            <select class="custom-select" id="country-list" (change)="selectCountry($event)">
                <option selected disabled>Select Country</option>
                <option *ngFor="let country of countrylist" [value]="country.alpha3Code">{{country.name}}</option>
              </select>
        </div>
      </div>
      <div class="row">
        <div class="mycontainer">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>